{% extends 'base_home.html' %}
{% load static %}

{% block header %}
    {% include 'head/home_head.html' %}
{% endblock %}

{% block content %}
    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">CREOVATE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'wallet' username=request.user.username %}">My Wallet</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Home design</a></li>
                                <li><a class="dropdown-item" href="#!">Logo Design</a></li>
                                <li><a class="dropdown-item" href="#!">Web Developer</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="{{ request.user.image_profile.url }}" alt="mdo" width="40" height="43" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" style="">
                              <li><a class="dropdown-item" href="{% url 'profile' username=request.user.username %}">Profile</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li>
                                  <form method="POST" action="{% url 'logout' %}">
                                      {% csrf_token %}
                                      <button type="submit" class="dropdown-item">Sign Out</button>
                                  </form>
                              </li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ service.service_image.url }}" alt="service=image" /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">{{ service.category }}</div>
                        <h1 class="display-5 fw-bolder">{{ service.title }}</h1>
                        <div class="fs-5 mb-3">
                            <span>Rp.{{ service.price }}</span>
                        </div>
                        <div class="d-flex gap-2 mb-5">
                              <img src="{{ service.freelance.image_profile.url }}" width="38" class="rounded-circle">
                              <p>added By {{ service.freelance.username }}</p>
                          </div>
                        <p class="lead">{{ service.description }}</p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                Continue
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4 text-center">Related products</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for service in filtered_services %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ service.service_image.url }}">
                                <div class="card-body">
                                    <p class="card-text">{{ service.title }}</p>
                                    <div class="d-flex gap-2 mb-3">
                                        <img src="{{ service.freelance.image_profile.url }}" width="38" class="rounded-circle">
                                        <p>added By {{ service.freelance.username }}</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'service' slug=service.slug %}">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                            </a>
                                        </div>
                                        <small class="text-body-secondary">Rp.{{ service.price }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% empty %}
                        <div class="container mt-3">
                            <h2 class="text-center">No other freelancers are offering this service yet</h2>
                            <img class="d-block mx-auto my-5" src="https://www.hudle.in/icons/home/communityStep-1.png" alt="no-service-image" width="250" height="250">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    
    {% include 'footer/home_footer.html' %}
{% endblock%}
