{% extends 'base_login.html' %}
{% load static %}

{% block content %}
    
    <div class="hero-wrap" style="background-image: url('{% static "images/password_reset_confirm.jpg" %}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
           
            <div class="col-lg-2 col"></div>
            <div class="col-lg-3 col-md-6 mt-0 mt-md-5 position-absolute top-50 start-50 translate-middle">
                <form action="#" class="request-form ftco-animate my-5 " method="POST">
                    <a class="icon-link icon-link-hover" href="javascript:history.back()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                          </svg>
                        Go Back
                      </a>
                    <h2 class="text-center">Create Your New Password</h2>
                        {% csrf_token %}
                          <div class="form-group">
                              {{ form.as_p }}
                          </div>
                
                  <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary py-3 px-4">
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    
    
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% endblock %}