{% extends 'base_home.html' %}
{% load static %}

{% block header %}
    {% include 'head/home_head.html' %}
{% endblock %}

{% block content %}
    
    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">CREOVATE {{ request.user.username }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="">My Wallet</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item {% if selected_categories == 'All'%} active {% endif %} }" href="?category=All">All</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item {% if selected_categories == 'Home Design' %} active {% endif %}" href="?category=Home Design">Home Design</a></li>
                                <li><a class="dropdown-item {% if selected_categories == 'Logo Design' %} active {% endif %}" href="?category=Logo Design">Logo Design</a></li>
                                <li><a class="dropdown-item {% if selected_categories == 'Software Developer' %} active {% endif %}" href="?category=Software Developer">Software Developer</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="{{ request.user.image_profile.url }}" alt="profile-image" width="40" height="43" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" style="">
                              <li><a class="dropdown-item" href="{% url 'profile' username=request.user.username %}">Profile</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li>
                                  <form method="POST" action="{% url 'logout' %}">
                                      {% csrf_token %}
                                      <button type="submit" class="dropdown-item">Sign Out</button>
                                  </form>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- Header-->
        {% include 'header/home_header.html' %}

        <!-- Section-->
        <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for service in services %}
              <div class="col">
                  <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ service.service_image.url }}" alt="service-image">
                      <div class="card-body">
                          <p class="card-text">{{ service.title }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <a href="{% url 'service' slug=service.slug %}">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                  </a>
                              </div>
                              <small class="text-body-secondary">Rp.{{ service.price }}</small>
                          </div>
                      </div>
                  </div>
              </div>
          {% empty %}
              <div class="container">
                  <h2 class="text-center">No freelancers are offering this service yet</h2>
                  <img class="d-block mx-auto my-5" src="https://www.hudle.in/icons/home/communityStep-1.png" alt="no-service-image" width="250" height="250">
              </div>
          {% endfor %}
        
      </div>
    </div>
  </div>

    
      <!-- Footer-->
    {% include 'footer/home_footer.html' %}
        
{% endblock %}